.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  width: 60%; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 525px;
  margin-top: 120px;
}

.form-container h2 {
  margin-top: 25px ;
  margin-bottom: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;

}

form input{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

form select{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}


textarea
{
  resize: none;
}

.form-container button{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}




button:hover {
  opacity: 100%;
  transform: scale(110%);
}

.error-message {
  color: red;
  margin-top: 5px;
}

.success-message {
  color: green;
  margin-top: 10px;
}


