.dinoArkPage {
    background: url('../jpg/Formularz-tlo.png');
    background-size: 100% 100%;
    margin: auto;
    margin-top: 6%;
    padding: 80px; 
    border-radius: 10px;
    transition: 0.3s;
    flex: 1 1 calc(25% - 20px);
    height: auto;
    min-width: 300px; 
    max-width: 1000px;
    min-height: 400px; 
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
  }
  
  .dinoArkPage h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
  }
  
  .dinoArkPage p {
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 15px; 
  }
  
  .dinoArkPage ul {
    list-style: none;
    padding: 0;
  }
  
  .dinoArkPage li {
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 10px; 
  }
  
  .dinoArkPage strong {
    font-weight: bold; 
  }