:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(144, 143, 143, 0.87);
  background-image: url('../jpg/tlo.jpg');
  background-size: cover; 
  background-attachment: fixed;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 3.2em;
}

#root{
  width: 80%;
  text-align: center;
}

select {
  background: url('../jpg/button-tlo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  transition: opacity 0.3s, transform 0.3s;
  margin: 2px 4px;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

select option {
  background-color: rgba(0, 40, 59, 0.87); 
  border-radius: 5px; 
}

select:focus {
  outline: none; 
}

input{
  background: url('../jpg/button-tlo.png');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  transition: opacity 0.3s, transform 0.3s;
  margin: 2px 4px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

textarea{
  background: url('../jpg/button-tlo.png');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  transition: opacity 0.3s, transform 0.3s;
  margin: 2px 4px;
  width: 90%;
  margin: auto;
  height: 30px;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

textarea:focus{
  outline: none;
}

input:focus {
  outline: none; 
}