.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0 auto;
  padding: 30px;
  height: 300px;
}

.login-input {
  width: 90%;
  min-height: 10%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
}

.login-error {
  color: #ff0000;
  margin-bottom: 10px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-page-button {
  width: 95% ;
  min-width: 160px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#FULL_WIDTH
{
  width: 100%;
}

#reg-button{
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
}

#register-container
  {
    max-width: 550px;
    padding: 30px;
    margin: auto;
  }

.register-input
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

  .register-error{
    color: #ff0000;
  }

  .form-container{
    background: url('../jpg/Formularz-tlo.png');
    background-size: 100% 100%;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    padding: 25px;
    min-width: 320px;
  }