.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .top-menu {
    background-color: #10872a;
    padding: 10px;
    border-radius: 5px;
  }
  
  .top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .top-menu li {
    margin-right: 20px;
  }
  
  .top-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .top-menu li a:hover {
    color: #24dc34;
  }
  